USE [Music]
GO
/****** Object:  Table [dbo].[favorite]    Script Date: 09/01/2026 4:59:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[favorite](
	[user_id] [int] NOT NULL,
	[music_id] [int] NOT NULL,
 CONSTRAINT [PK_favorite] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC,
	[music_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[music]    Script Date: 09/01/2026 4:59:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[music](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [varchar](100) NOT NULL,
	[artist] [varchar](50) NOT NULL,
	[file_path] [varchar](255) NOT NULL,
	[cover_image] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[playlist]    Script Date: 09/01/2026 4:59:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[playlist](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NOT NULL,
	[user_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[playlist_music]    Script Date: 09/01/2026 4:59:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[playlist_music](
	[playlist_id] [int] NOT NULL,
	[music_id] [int] NOT NULL,
 CONSTRAINT [PK_playlist_music] PRIMARY KEY CLUSTERED 
(
	[playlist_id] ASC,
	[music_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 09/01/2026 4:59:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[password] [varchar](255) NOT NULL,
	[email] [nvarchar](100) NULL,
	[avatar] [nvarchar](255) NULL,
	[role] [varchar](20) NULL,
	[balance] [decimal](18, 0) NULL,
	[vip_expiration_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[favorite] ([user_id], [music_id]) VALUES (2, 2)
INSERT [dbo].[favorite] ([user_id], [music_id]) VALUES (2, 4)
INSERT [dbo].[favorite] ([user_id], [music_id]) VALUES (2, 8)
GO
SET IDENTITY_INSERT [dbo].[music] ON 

INSERT [dbo].[music] ([id], [title], [artist], [file_path], [cover_image]) VALUES (1, N'Shape of You', N'Ed Sheeran', N'/music/ed_sheeran/shape_of_you.mp3', N'shapofyou.jpg')
INSERT [dbo].[music] ([id], [title], [artist], [file_path], [cover_image]) VALUES (2, N'Blinding Lights', N'The Weeknd', N'/music/weeknd/blinding_lights.mp3', N'anhTrong3.jpg')
INSERT [dbo].[music] ([id], [title], [artist], [file_path], [cover_image]) VALUES (3, N'Levitating', N'Dua Lipa', N'/music/dua_lipa/levitating.mp3', N'anhTrong3.jpg')
SET IDENTITY_INSERT [dbo].[music] OFF
GO
SET IDENTITY_INSERT [dbo].[playlist] ON 

INSERT [dbo].[playlist] ([id], [name], [user_id]) VALUES (3, N'Playlist Buon', 2)
INSERT [dbo].[playlist] ([id], [name], [user_id]) VALUES (4, N'Nhac', 3)
INSERT [dbo].[playlist] ([id], [name], [user_id]) VALUES (5, N'Party Night', 4)
SET IDENTITY_INSERT [dbo].[playlist] OFF
GO
INSERT [dbo].[playlist_music] ([playlist_id], [music_id]) VALUES (3, 5)
INSERT [dbo].[playlist_music] ([playlist_id], [music_id]) VALUES (3, 13)
INSERT [dbo].[playlist_music] ([playlist_id], [music_id]) VALUES (3, 18)
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([id], [username], [password], [email], [avatar], [role], [balance], [vip_expiration_date]) VALUES (2, N'Tran Thi Banh', N'abc@2025', N'abc@2025', NULL, N'USER', CAST(1000 AS Decimal(18, 0)), CAST(N'2026-01-10T02:22:00.000' AS DateTime))
INSERT [dbo].[users] ([id], [username], [password], [email], [avatar], [role], [balance], [vip_expiration_date]) VALUES (3, N'Á', N'musiclover99', N'abc@2025', N'1767949983376_9.jpg', N'USER', CAST(0 AS Decimal(18, 0)), NULL)
INSERT [dbo].[users] ([id], [username], [password], [email], [avatar], [role], [balance], [vip_expiration_date]) VALUES (4, N'pham thi d', N'd123456', N'abc@2025', N'admin.jpg', N'USER', NULL, NULL)
SET IDENTITY_INSERT [dbo].[users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__users__F3DBC572545C1E38]    Script Date: 09/01/2026 4:59:18 CH ******/
ALTER TABLE [dbo].[users] ADD UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_users_username]    Script Date: 09/01/2026 4:59:18 CH ******/
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [UQ_users_username] UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ('USER') FOR [role]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ((0)) FOR [balance]
GO
ALTER TABLE [dbo].[favorite]  WITH CHECK ADD  CONSTRAINT [FK_favorite_music] FOREIGN KEY([music_id])
REFERENCES [dbo].[music] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[favorite] CHECK CONSTRAINT [FK_favorite_music]
GO
ALTER TABLE [dbo].[favorite]  WITH CHECK ADD  CONSTRAINT [FK_favorite_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[favorite] CHECK CONSTRAINT [FK_favorite_users]
GO
ALTER TABLE [dbo].[playlist]  WITH CHECK ADD  CONSTRAINT [FK_playlist_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[playlist] CHECK CONSTRAINT [FK_playlist_users]
GO
ALTER TABLE [dbo].[playlist_music]  WITH CHECK ADD  CONSTRAINT [FK_playlist_music_music] FOREIGN KEY([music_id])
REFERENCES [dbo].[music] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[playlist_music] CHECK CONSTRAINT [FK_playlist_music_music]
GO
ALTER TABLE [dbo].[playlist_music]  WITH CHECK ADD  CONSTRAINT [FK_playlist_music_playlist] FOREIGN KEY([playlist_id])
REFERENCES [dbo].[playlist] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[playlist_music] CHECK CONSTRAINT [FK_playlist_music_playlist]
GO
