@charset "UTF-8";
.stats {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
}

.stat-box {
    background: #1db954;
    color: white;
    padding: 20px;
    border-radius: 10px;
    flex: 1;
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.card {
    background: #111;
    padding: 20px;
    border-radius: 10px;
    color: white;
}
